@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 14, 165, 233; /* 500 */
    --color-primary-dark: 2, 132, 199; /* 600 */
    --color-background: 240, 249, 255; /* 50 */
    --color-secondary: 108, 117, 125; /* Gris Medio */
    --color-secondary-light: 224, 242, 254; /* 100 */
    --color-success: 40, 167, 69; /* Verde */
    --color-danger: 220, 53, 69; /* Rojo */
    --color-warning: 255, 193, 7; /* Amarillo */
    --color-info: 253, 126, 20; /* Naranja */
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: 14, 165, 233; /* 500 */
    --color-primary-dark: 2, 132, 199; /* 600 */
    --color-background: 240, 249, 255; /* 50 */
    --color-secondary: 108, 117, 125; /* Gris Medio */
    --color-secondary-light: 224, 242, 254; /* 100 */
    --color-success: 40, 167, 69; /* Verde */
    --color-danger: 220, 53, 69; /* Rojo */
    --color-warning: 255, 193, 7; /* Amarillo */
    --color-info: 253, 126, 20; /* Naranja */
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: rgb(var(--color-primary));
}

button {
  background-color: rgb(var(--color-primary-dark));
  color: rgb(var(--color-background));
}

button.success {
  background-color: rgb(var(--color-success));
}

button.danger {
  background-color: rgb(var(--color-danger));
}

button.warning {
  background-color: rgb(var(--color-warning));
}

button.info {
  background-color: rgb(var(--color-info));
}

.navbar {
  background-color: rgb(var(--color-primary-dark));
  color: rgb(var(--color-background));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.215);
}


.no-outline {
  outline: none;
}
.no-outline:focus {
  outline: none;
}

.sticky-header th {
  
  position: sticky;
  top: 0;
  background-color: rgb(var(--color-primary-dark));
  z-index: 1;
}


.shadow-table {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.pre-line {
  white-space: pre-line;
}

.text-outline {
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
